[submodule "PlatformFontend"]
	path = PlatformFontend
	url = https://github.com/sathya4555/PlatformFontend.git
[submodule "Platform-DTO"]
	path = Platform-DTO
	url = https://github.com/sathya4555/Platform-DTO.git
[submodule "Platform-entity"]
	path = Platform-entity
	url = https://github.com/sathya4555/Platform-entity.git
